@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;900&family=Source+Sans+Pro:wght@300;900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --header-height: 3rem;

    --ff-primary: 'Source Sans Pro', sans-seriff;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.75em rgba(0,0,0,0.15);

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.128rem;
    --normal-font-size: 0.983rem;
    --small-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

     /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    }
}


/* General styles  */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-dark);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

}

.btn:hover{
    transform: scale(1.1);
}


/* Typography */

h1,h2,h3{
    line-height: 1.1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}

h2{font-size: var(--fs-h2);}

h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}


.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25en 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}


/*==================== HEADER ====================*/
.container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    max-width: 768px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-light);
    z-index: var(--z-fixed);
    transition: .4s;
}

/*==================== NAV ====================*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img{
    width: 32px;
    border-radius: 50%;
    display: none;
}

.nav__logo{
    color: var(--clr-dark);
    font-weight: 600;

}




@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--clr-light);
        box-shadow: 0 -1px 12px hsla( var(--clr-accent), 63%, 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: 0.4s;
    }
}

.nav__list,
.nav__link{
    display: flex;
}

.nav__link{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--clr-dark);
    font-weight: 600;

}

.nav__list{
    justify-content: space-around;
}

.nav__name{
    font-size: var(--small-font-size);
}

.nav__icon{
    font-size: 1.5rem;
}

.nav__logo{
    display: flex;
    align-items: center;
    
}

.logo__icon{
    width: 100px;
}
/* show menu */


/* Active link */
.active-link{
    position: relative;
    color: var(--clr-dark);
    transition: 0.3s;
}

/* Change background header */
.scroll-header{
    box-shadow: 0 1px 2px hsla( var(--clr-accent), 63%, 15%, 0.15);
}


/* For small devices */
@media screen and (max-width: 400px){
    .nav__link{
        font-weight: 200;
    
    }

   
   
} 




@media screen and (min-width: 576px){
    .nav__list{
        justify-content: center;
        column-gap: 3rem;
    }

    
} 

@media screen and (min-width: 767px){
 
.nav{
    height: calc(var(--header-height) + 1.5rem);
}


.nav__img{
    display: none;
}

.nav__icon{
    display: none;
}

.nav__name{
    font-size: var(--normal-font-size);
}

.nav__link:hover{
    color: var(--clr-accent);
}

/* .active-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.75rem;
    width: 14px;
    height: 4px;
    background-color: var(--clr-accent);
    border-radius: 5px;
    
} */


}
/* For large devices */

@media screen and (min-width: 1024px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}




/* Intro Section */

.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px) {

    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5rem;
        width: calc(100% + 1.5em);
    }
}



/* My Services */

.my-services{
    background-color: var(--clr-dark);
    background-image: url(/img/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: .25;
}

.services{
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2rem;
    }
}





/* My Post */

.my-post{
    background-color: var(--clr-dark);
    background-blend-mode: overlay;
    background-image: url(/img/jess-bailey-q10VITrVYUM-unsplash.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    padding: 1em;
    padding-top: 2em;
}

.post{
    margin-bottom: 1em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .post {
        display: flex;
        justify-content: center;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2rem;
    }

    
}


.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2; /* Card outline shadow */
  background: white; /* post background color */
  border-radius: 0.5rem;
    position: relative;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
    min-width: 18rem;
    
  }

  /* .card:hover {  
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2;
  } */

  /*Design banner image*/
.banner-img {
    position: absolute;
    object-fit: cover;
    height: 14rem; /* image height */
    width: 100%;
  }


  /* Design catagory text */
.category-tag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white; /* text color */
    background: red;  /* text background color */
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
  }

  .card-body {
    margin: 15rem 1rem 1rem 1rem;
  }


  .blog-title {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
    color: var(--clr-accent);
    font-size: var(--normal-font-size);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .blog-description {
    color: var(--clr-dark);
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }


  .more-menu {
    font-size: var(--body-font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: end;
    transition-delay: 0.4s;
    margin-right: 5rem;
    color: var(--clr-light);
    }
    
    
  

    .svg {
        font-size: 28px;
        margin-left: 10px;
    }

  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
  margin: 20px;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}



.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
    
}


/*==================== ABOUT ====================*/


.about__display{
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--mb-2-5);
    margin-bottom: var(--mb-2-5);
}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name{
    font-size: var(--small-font-size);
}

.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
}

/* My work */

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img{
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .5;
}

/* footer */

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}






/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 280 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl( var(--hue-color), 69%, 61%);
    --first-color-second: hsl( var(--hue-color), 69%, 61%);
    --first-color-alt: hsl( var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl( var(--hue-color), 92%, 85%);
    --title-color: hsl( var(--hue-color), 8%, 15%);
    --text-color: hsl( var(--hue-color), 8%, 45%);
    --text-color-light: hsl( var(--hue-color), 8%, 65%);
    --input-color: hsl( var(--hue-color), 76%, 96%);
    --body-color: hsl( var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.128rem;
    --normal-font-size: 0.983rem;
    --small-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
















/*==================== MEDIA QUERIES ====================*/
